/*
colors
black
yellow = #ffae00
grey = #505050
white
 */

@import url('https://fonts.googleapis.com/css?family=Hind:600|Lato');

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Lato'
}

.hind{
  font-family: 'Hind';
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

h2, h3, h5{
  margin:0;
}

h3{
  font-size: 1.2em;
}

ul{
  width:100%;
  padding: 0 .7em;
}

li{
  list-style: none
}

form{
  margin-top: 1.3em;
}

.app-body{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

header{
  width: 100%;
  padding: .4em 0;
  background-color: black;
  color: #ffae00;
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-img{
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-img img{
  margin-top: 9em;
}

.how-it-works{
  width: 100%;
  height: auto;
}

.diagonal, .explainer{
  background-color: black;
}

.diagonal{
  width: 110%;
  height: 4em;
  transform: rotate(-3deg);
}

.explainer{
  width: 100%;
  padding:0 1em 1em;
  color: white;
  position: relative;
  margin-top: -40px
}

.explainer h3{
  color: #ffae00;
}

.explainer p{
  line-height: 1.7
}

.car-search{
  width: 100%;
  padding:1em;
  display: flex;
  flex-direction: column;
}

.car-search input{
  width:100%;
  padding:.3em;
  border:1px solid black;
  font-size: 1em;
  margin: .5em 0 1.35em;
}

.car-search button{
  width: 100%;
  background-color: #ffae00;
  padding:.5em;
  font-size: 1em;
  border: 0;
  -webkit-transition: all .25s ease
  -moz-transition: all .25s ease
  -ms-transition: all .25s ease
  -o-transition: all .25s ease
  transition: all .25s ease
}

.car-search button:hover{
  background-color: black;
  color: white;
}

.search-header{
  width: 100%;
  height: auto;
  padding: .7em 0;
  background-color: rgb(57, 57, 57)
}

.car-wrapper{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding:.5em 0;
  border-bottom: 1px solid rgb(99, 99, 99)
}

.car-img{
  width:45%;
  height: 150px;
  overflow: hidden;
  margin-right:1em
}

.car-info{
  width:55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car{
  width: 100%;
  height: auto;
}

.banner-info{
  width: 100%;
  margin-top: 6.4em;
  height: auto;
  padding: 1em .7em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #ffae00;
}

.values{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.car-picture{
  width: 100%;
  height: 42vh;
  overflow: hidden;
}

.car-elements{
  width: 100%;
  padding: 1em .7em 2em;
}

.car-elements article{
  line-height: 1.7;
  margin-bottom: 1.3em;
}

.go-back{
  background-color: #505050;
  border: 0;
  height: 30px;
  color: white;
  margin-bottom: 1.3em;
  font-size: .8em;
  width: 50%;
  cursor: pointer;
}

.car-link-button{
  width: 100%;
  padding: 1em 0;
  background-color: #ffae00;
  color: black;
  text-align: center;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.car-link-button:hover{
  background-color: black;
  color: white;
}

.cant-find{
  color: #505050;
  margin: 0 auto 5.7em;
}

footer{
  width: 100%;
  background-color: black;
  color: #505050;
  font-size: .7em;
  padding:1em;
}

footer a{
  color: #ffae00;
}

/* iPhone 7S plus */
@media (min-width: 414px) and (max-width: 736px) and (orientation: landscape){
  header{
    padding: 0;
  }

  .hero-img img{
    margin-top: 4em;
  }

  .banner-info{
    margin-top: 4.8em;
  }

  .hero-img{
    height: 75vh;
  }

  .explainer{
    margin-top: -18px;
    padding: 0 3em 1em;
  }

  .car-search{
    padding: 3em 3em 2em;
  }

  ul{
    padding: 0 3em;
  }

  .car-picture{
    height: 80vh;
  }
}

/* iPhone 5 */
@media (min-width:320px) and (max-width:568px) and (orientation:portrait){
  .car-search{
    padding: 8em 1em 2em;
  }

  .banner-info{
    margin-top: 6.4em;
  }
}

@media (min-width:320px) and (max-width:568px) and (orientation:landscape){
  .car-search{
    padding:7em 3em 2em;
  }

  .banner-info{
    margin-top: 4.8em;
  }
}


/* iPhone 7S */
@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape){
  .explainer{
    margin-top: -17px;
  }
}

/* iPad */
@media (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
  .explainer{
    padding: 0 3em 1em;
    margin-top: -18px
  }

  .hero-img img{
    margin-top: 8em;
  }

  .car-search{
    padding: 8em 3em 2em;
  }

  ul{
    padding: 0 3em;
  }

  .car-wrapper{
    padding: 2.5em 0;
  }

  .car-img{
    height: 221px;
  }

  .car-elements{
    padding: 1em 3em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){
  .hero-img{
    height: 80vh;
  }

  .hero-img img{
    margin-top:4em;
  }

  .diagonal{
    height: 6em;
  }

  .explainer{
    margin-top: -25px;
    padding: 0 7em 1em;
  }

  ul{
    padding: 0 7em;
  }

  .car-search{
    padding: 8em 7em 1;
  }

  .car-wrapper{
    padding: 3.5em 0;
  }

  .car-img{
    height: 263px
  }

  .car-picture{
    height: 89vh;
  }

  .car-elements{
    padding: 2em 17em 2em 5em;
  }

  .values{
    padding-left: 3.5em;
  }
}

@media (min-width: 1025px) and (max-width:1600px){
  .hero-img{
    height: 100vh
  }

  .hero-img img{
    margin-top:0;
  }

  .diagonal{
    height: 5em;
  }

  .explainer{
    padding: 1em 11em;
    margin-top: -32px;
  }

  .car-search{
    padding:10em 11em 3em;
  }

  ul{
    width: 100%;
    padding: 0 11em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li{
    width: 50%
  }

  .car-wrapper{
    width: 92%;
    height: 300px;
  }

  li:nth-child(even) .car-wrapper{
    margin-left:8%;
  }

  .car-display{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .car-picture, .car-elements{
    width: 50%;
  }

  .car-picture{
    height: auto;
  }

  .car-elements{
    padding: 1em 2em 2em;
  }

  .values{
    padding-left: 2em;
  }

  .go-back{
    width:15%;
  }
}
